* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:Helvetica;
  color:black;
}



body {
  background-color: lightblue;
}

div  {
  boroder: 2px dashed;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  text-align: center;
  color:black;
}


table {
  text-align: center;
  margin:30px auto;
  padding: 60px 0px 60px 0px;
  background-color:#4da3ff;
  border-radius: 20%;
  font:'lobster';
  width:100%;
}

/*table tr {
  font: 'Lobster';
}*/

/*table tr:2nd-child {
  font:'lobster';
}*/

#data-titles {
  font-size: 30px;
  margin:10px;
  color:lightyellow
  background-color:lightblue;
  font-family: 'lobster', cursive;
  margin:20px;
  width:100%;
}

th {
  margin: 10px auto;
  padding:10px;
  width: 100%;
}
