/* reset */

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:Helvetica;
  color:black;
}

html, body {
  height: 100%;
}

body {
  background-color: lightblue;
}

div  {
  boroder: 2px dashed;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  text-align: center;
  color:black;
}



#title {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color:lightyellow;
}

div {
  text-align: center;
  margin:10px 80px 30px 80px;
  background-color:#4da3ff;
  border-radius: 20%;
  padding:auto 20px;
}
