/* reset */

* {
  margin: 0;
  padding:0;
  font-family: Arial, Verdana;
  box-sizing: border-box; /*doesn't change based on margin or padding size... */
}

html, body { /* ' , 'selector is saying both, rather than being inside */

}
